
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Database</title>
        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="/styles/animePage.css">

    </head>
    <body>
        <h1 class="full-title-header">
            <a href="/" class="full-title">
                <strong>Anime</strong>Database
            </a>
        </h1>

        <nav class="nav-entire">
            <a href="/topanimes/1" class="nav-elements">Top Anime</a>
            <a href="/topmangas/1" class="nav-elements">Top Manga</a>
            <a href="/topupcominganime/1" class="nav-elements">Top Upcoming Anime</a>

<!--            <form-->
<!--                    onSubmit="form-submission">-->
<!--                <input-->
<!--                        type="search"-->
<!--                        placeholder="Search for an anime..."-->
<!--                        spellcheck="false"-->
<!--                        id="searchBar"-->
<!--                />-->
<!--            </form>-->
        </nav>
    </body>
</html>
