
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Database</title>
        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="/styles/animePage.css">

    </head>
    <body>
        <h1 class="full-title-header">
            <a href="/" class="full-title">
                <strong>Anime</strong>Database
            </a>
        </h1>

        <nav class="nav-entire">
            <a href="/topanimes/1" class="nav-elements">Top Anime</a>
            <a href="/topmangas/1" class="nav-elements">Top Manga</a>
            <a href="/topupcominganime/1" class="nav-elements">Top Upcoming Anime</a>

            <form
                    class="search-form"
                    target="_self"
                    id="searchBar"
                    autocomplete="off">
                <input
                        autocomplete="false"
                        type="search"
                        class="search-input-value"
                        placeholder="Search for an anime..."
                        spellcheck="false"
                        id="searchInput"
                />
            </form>
        </nav>
    <script>
        let input = document.getElementById("searchBar")
        input.addEventListener("submit", (e) => {
        	e.preventDefault()
            window.location.assign(`${window.location.origin}/anime/${inputData.value}/1`)
			console.log(inputData.value)
        })
        let inputData = document.getElementById("searchInput")
    </script>
    </body>
</html>
