
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Database</title>
        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="/styles/animePage.css">

    </head>
    <body>
        <h1 class="full-title-header">
            <a href="/" class="full-title">
                <strong>Anime</strong>Database
            </a>
        </h1>

        <nav class="nav-entire">
                <a href="/" class="nav-elements">Top Animes</a>
                <a href="/topmangas" class="nav-elements">Top Mangas</a>
            <input type="text" placeholder="Search for an anime here..." spellcheck="false"/>
        </nav>
    </body>
</html>
