<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/animePage.css">
    </head>

    <body>
        <%- include("partials/header.ejs") %>
        <%- include("partials/bootstrap.ejs") %>
        <h1 class="fade-in-text">Go ahead and search up any anime that you like! You can also choose from any of the following in the navbar.</h1>

    </body>
</html>
