<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Crash Course</title>

    <!--    <link rel="stylesheet" href="animePage.css">-->
</head>
<body>
    <h1 class="testing">Hello</h1>
    <% topAnimes.forEach(anime => { %>
        <h3><%= anime.title %> | Episodes: <%= anime.episodes %> </h3>
    <% }) %>

    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About page</a>
    </nav>
    </body>
</html>