.full-title-header {
  text-align: center;
}
.full-title-header .full-title {
  font-size: 70px;
  text-decoration: none;
  color: black;
}
.full-title-header .full-title:hover {
  color: black;
}

.nav-entire {
  text-align: center;
}
.nav-entire .nav-elements {
  font-size: 30px;
  padding: 25px;
  text-decoration: none;
  color: black;
}
.nav-entire .nav-elements:hover {
  color: #15bccf;
}
.nav-entire .search-form {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex: 1 1 0%;
}
.nav-entire .search-form .search-input-value {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 999px;
  max-width: 400px;
  background-color: #EEE;
}
.nav-entire .search-form .search-input-value ::placeholder {
  color: #888888;
}
.nav-entire .search-form .search-input-value:focus, .nav-entire .search-form .search-input-value:valid {
  background-color: #313131;
  color: #FFFFFF;
}

.pagination-entire {
  padding: 2rem;
}

.anime-list-body {
  overflow-x: hidden;
  padding-left: 3rem;
}
.anime-list-body .title-description {
  font-size: 50px;
  margin: 1.5rem;
}
.anime-list-body .anime-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.anime-list-body .anime-list .anime-card {
  flex: 1 1 33.33333%;
  max-width: 33.33333%;
  padding: 16px 8px;
}
.anime-list-body .anime-list .anime-card .modal-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 90%;
}
.anime-list-body .anime-list .anime-card a {
  text-decoration: none;
}
.anime-list-body .anime-list .anime-card .figure-outer-block {
  display: block;
  margin-bottom: 16px;
  padding: 2rem;
  padding-bottom: 0.7rem;
}
.anime-list-body .anime-list .anime-card .figure-outer-block .image-inner-block {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.anime-list-body .anime-list .anime-card .anime-card-title {
  color: #313131;
  text-align: center;
}
.anime-list-body .anime-list .anime-card:hover .figure-outer-block .image-inner-block {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.anime-list-body .anime-list .anime-card .modal-entire-body {
  display: inline-block;
}
.anime-list-body .anime-list .anime-card .modal-entire-body img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  outline: black;
}
.anime-list-body .anime-list .anime-card .modal-entire-body h2 {
  display: inline-block;
}
.anime-list-body .anime-list .anime-card .modal-entire-body h3 {
  display: inline-block;
}

.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
  padding: 30px;
  color: black;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=animePage.css.map */
