.content-wrap {
  display: flex;
}
.content-wrap aside {
  flex: 1 1 250px;
  max-width: 250px;
  padding-right: 16px;
}
.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}
.content-wrap aside nav h3 {
  color: #313131;
  font-size: 24px;
  margin-bottom: 16px;
  font-family: "Lucida Console", sans-serif;
}
.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #888;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #EEE;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.4s;
  font-family: "Gill Sans", sans-serif;
}
.content-wrap aside nav a:hover {
  background-color: #313131;
  color: #AAA;
}

.testing {
  font-size: 120px;
}

.top-manga-page {
  flex: 1 1 0%;
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.anime-list .anime-card {
  flex: 1 1 33.33333%;
  max-width: 33.33333%;
  padding: 16px 8px;
}
.anime-list .anime-card .modal-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 90%;
}
.anime-list .anime-card a {
  text-decoration: none;
}
.anime-list .anime-card .figure-outer-block {
  display: block;
  margin-bottom: 16px;
  padding: 2rem;
  padding-bottom: 0.7rem;
}
.anime-list .anime-card .figure-outer-block .image-inner-block {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.anime-list .anime-card .anime-card-title {
  color: #313131;
  text-align: center;
}
.anime-list .anime-card:hover .figure-outer-block .image-inner-block {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.anime-list .anime-card .modal-entire-body {
  display: inline-block;
}
.anime-list .anime-card .modal-entire-body img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  outline: black;
}
.anime-list .anime-card .modal-entire-body h2 {
  display: inline-block;
}
.anime-list .anime-card .modal-entire-body h3 {
  display: inline-block;
}

.homepage-cards {
  flex: 1 1 0%;
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.homepage-cards .main-page {
  flex: 1 1 0%;
  padding: 0px 16px;
}

.main-head {
  display: flex;
  justify-content: center;
}
.main-head .search-box {
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
}
.main-head .search-box input {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #EEE;
  transition: 0.4s;
}
.main-head .search-box input ::placeholder {
  color: #888;
}
.main-head .search-box input:focus, .main-head .search-box input:valid {
  background-color: #313131;
  color: #FFF;
}

/*# sourceMappingURL=animePage.css.map */
